.primary-button {
    border: none;
    height: 38px;
    width: 185px;
    border-radius: 8px;
    background-color: #F4CE14;
    color: #495E57;
    font-weight: 700;
    font-size: 1.2rem;
}

.primary-button:hover {
    background-color: #d4b516;
    cursor: pointer;
}