footer {
    display: flex;
    justify-content: center;
    gap: 125px;
    padding-top: 75px;
    background-color: #FBDABB;
    height: 300px;
}

footer > img {
    height: 200px;
    width: auto;
}

nav {
    list-style: none;
}

.nav-title {
    font-weight: 700;
    font-size: 1.4rem;
}

footer nav .nav-link,
footer nav .nav-link Link{
    display: block;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    color: black;
}

footer nav .nav-link:hover,
footer nav .nav-link Link:hover{
    color: #495E57;
}

@media (max-width: 415px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        align-items: center;
        height: 500px;
        padding: 45px;
    }
}